# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/

# Ignore everything under input
input/*
output/*

# But keep the input directory itself
!input/.gitkeep
!output/.gitkeep

